<!doctype html>
<html>
<head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Add A New Book</h1>
    <form method="POST" action="/books/bookadded">
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="errors">
        <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    </div>
    <% } %>
    Book Name:<input id="name" type="text" name="name" required/><br><br>
    Price:<input id="price" type="number" step="0.01" name="price" required/><br><br>
    <input type="submit" value="Add book"/>
    </form>
</body>
</html>
