<!doctype html>
<html>
<head>
    <title>Charts</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./exerciseChart.js"></script>



</head>
<body>
    <nav class="navbar">
        <div class="navbarContainer">
            <div class="navbarLeft">
                <img src="/images/logo.webp" alt="GymTrack Logo" id="navbarLogo">
                <p id="welcomeMsg"><%= shopData?.shopName %></p>
            </div>
            <div class="navbarRight">
                <ul class="navbarMenu">
                <li class="navbarItem">
                    <a href="/" class="navbarLinks">Home</a>
                    <a href="/tracker/trackerLogger?sessionId=<%= sessionId %>">Go back</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2>Stats:</h2>
    <canvas id="exerciseChart" width="500" height="200"></canvas>

    <script src="/exerciseChart.js"></script>
    
    <h2>Your Personal Records</h2>

    <div class="exerciseGrid">
        <% prList.forEach(pr => { %>
            <div class="exerciseBox">
                <p class="workoutTitle"><%= pr.exerciseName %></p>
                <p>Max Weight: <%= pr.maxWeight %> kg</p>
            </div>
        <% }) %>
    </div>



</body>
</html>
