<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <nav class="navbar">
        <div class="navbarContainer">

            <div class="navbarLeft">
                <img src="/images/logo.webp" alt="GymTrack Logo" id="navbarLogo">
                <p id="welcomeMsg"><%=shopData.shopName%></p>
            </div>
            <div class="navbarRight">
                <ul class="navbarMenu">
                <li class="navbarItem">
                    <a href="/" class="navbarLinks">Home</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class = "forumSection">
        <% if(typeof errors !== 'undefined' && errors.length > 0){ %>
        <div class="errors">
            <ul>
            <%errors.forEach(function(error){ %>
                <li><%= error.msg %></li>
            <%}) %>
            </ul>
        </div>
            <%}%>  
            <h1>Login</h1>
            <form action="loggedin" method="POST">
                <p>Username: <input id="username"  type="text" name="username"/></p>
                <p>Password: <input id="password"  type="password" name="password" /></p>
                <input type="submit" value="login" />
                <a href="/users/register" class="loginLink">Dont have an account? Sign up here</a>
            </form>
    </div>

</body>
</html>