<!doctype html>
<html>
<head>
    <title>Registered Users</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Registered User Details</h1>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.username %>, <%= user.firstName %>, <%= user.lastName %>, <%= user.email %></li>
        <% }) %>
    </ul>
</body>
</html>
