
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(30, 139, 0);
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: rgb(30, 139, 0);
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(30, 139, 0);
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none;
    color: rgb(30, 139, 0);
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
body{
  background-color: rgb(61, 61, 66);
  font-family: Arial, Helvetica,sans-serif;
  margin: 0;
  color: white;
}

.navbar {
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 96%;
  margin: 0 auto;
}

#welcomeMsg {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: rgb(30, 139, 0);
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 15px; 
}

/* Logo */
#navbarLogo {
  height: 80px;

  width: auto;
  margin: 0;
}

/* Menu */
.navbarMenu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-left: 20px;
}

.navbarLinks {
  text-decoration: none;
  color: rgb(30, 139, 0);
  font-size: 16px;
}

.navbarLinks:hover {
  color: rgb(30, 139, 0);
}

.bar {
  height: 3px;
  width: 25px;
  background-color: rgb(30, 139, 0);
  margin: 3px 0;
}

.content {
  background-image: url('images/gym-tracking-app-background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
}
.mainContent h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.contentButtons .btn {
  text-decoration: none;
  padding: 15px 30px;
  margin: 0 10px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: rgb(30, 139, 0);
  transition: background 0.3s;
}

.contentButtons .btn:hover {
  background-color: rgb(30, 139, 0);
}

.contentButtons .btn-secondary {
  background-color: transparent;
  border: 2px solid rgb(30, 139, 0);
}

.contentButtons .btn-secondary:hover {
  background-color: rgb(30, 139, 0);
}
.featuresTitle{
    color: rgb(30, 139, 0);
    font-size:28px;
    margin-bottom:30px;
    text-align: center;
}

.featuresGrid {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap:30px;
    margin-top:30px;
}

.featureBox{
    background-color: rgb(32, 32, 32);
    text-align: center;
    padding: 25px;
    border-radius: 12px;
}

.featureBox h3{
    color: rgb(30, 139, 0);
    margin-bottom: 10px;
}

.forumSection {
  background: rgb(32, 32, 32);
  width: 800px;
  margin: 80px auto;
  min-height: 600px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.forumSection input[type="email"],
.forumSection input[type="text"],
.forumSection input[type="password"] {
  width: 90%;
  padding: 16px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

.forumSection input[type="submit"] {
  background: green;
  width: 95%;
  padding: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}


.loginLink {
  display: block;
  color: rgb(30, 139, 0);
  font-size: 16px;
}

.forumSection input[type="submit"]:hover {
  background: rgb(72, 197, 72);
}

.forumSection h1 {
  color: rgb(30, 139, 0);
  font-size: 39px;
  text-align: center;
}

.exerciseGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 21px;
    text-align: center;
}

.exerciseBox {
    padding: 20px;
    background: rgb(32, 32, 32);
    border-radius: 8px;
}

.prContainer {
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    width: fit-content;
    background-color:rgb(32, 32, 32);
    font-size: 1.1rem;
    color: rgb(30, 139, 0) !important;
    font-weight: bold;
}

.workoutTitle {
font-weight: bold;
font-size: 30px;
color: white;
margin-bottom: 5px;
text-align: center;

}
.visButtonCon {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.visButton {
    background: #4caf50;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 8px;
    color: white !important;
}

canvas {
    background-color:rgb(32, 32, 32);
    margin-top: 30px;
    border-radius: 8px;
}
